@import url("https://api.fontshare.com/v2/css?f[]=switzer@400&display=swap");

@font-face {
  font-family: "TGS Perfect";
  src: url("/fonts/TGSPerfectCondensed.woff2") format("woff2");
  font-weight: 400 900;
  font-display: swap;
}

@font-face {
  font-family: "Caleb Mono";
  src: url("/fonts/CSCalebMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Caleb Mono";
  src: url("/fonts/CSCalebMono-ReverseItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "JUST Sans";
  src: url("/fonts/JUSTSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "JUST Sans";
  src: url("/fonts/JUSTSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "JUST Sans";
  src: url("/fonts/JUSTSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "JUST Sans";
  src: url("/fonts/JUSTSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "JUST Sans";
  src: url("/fonts/JUSTSans-ExBold.woff2") format("woff2");
  font-weight: 800;
  font-display: swap;
}
